@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #FFFFFF;
  color: #0A0A0A;
  -webkit-font-smoothing: antialiased;
}

.glass {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.tight {
  letter-spacing: -0.04em;
}
.tighter {
  letter-spacing: -0.06em;
}
